 <!-- START FEATURES -->
 <section class="section" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class=" mb-5">
                    <h3>Présentation</h3><br>
                    <p class="text-muted">La Société Tunisienne des ascenseurs et services RiseSwift Elevators a été créée en Septembre 1986. Elle a pour objet principal l’importation, l’achat, la vente, l’installation et la maintenance des ascenseurs, des monte-charge, d’escaliers et de tous moyens de levage et de manutention fabriqués en Tunisie.

                        Date de création : 1986
                        
                        Forme juridique : Société Sarl
                        
                        Capital : 700 000,000 dinars tunisiens</p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
       
        <!--end row-->
    </div>
    <!--end container-->
</section>
<!-- END FEATURES -->
